#about-me {
    padding-top: 90px;
    background: #fafafa;
    /* background: url("../img/yoda.jpg") no-repeat fixed right bottom; */
}

.presentation {
    display: flex;
    max-width: 1600px;
    margin: 60px 5% 0 5%;
    align-items: center;
    align-content: space-between;
    justify-content: center; 
    flex-wrap: nowrap;
    flex-direction: row;
    background: transparent;
}

.presentation .text-container {
    flex: 1 1 auto;
    margin-bottom: 30px;
}

.about-text {
    padding-left: 4%;
}

.about-text ul, .about-text h3 {
    padding-left: 10%;
}

.cvphoto {
    flex: 0 1 50%;
}

.cvphoto img {
    display: block;
}

blockquote {
    margin: 3.8rem 2rem 0 3.7rem;
}

blockquote:before {
    position: absolute;
    display: inline;
    margin: -1.8rem 0 0 -3rem;
    content: '"';
    font-family: 'Courgette', cursive;
    font-size: 5rem;
}

blockquote p {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    line-height: 2.2rem;
    color: 333;
}

cite {
    font-size: 1rem;
    float: right;
    padding-right: 18%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}

/* ICONOS CONTACTO */


.contact-icon {
    list-style: none;
    margin: 1rem 0 1rem 1.2rem;
}

.contact-icon i {
    margin-right: 1rem;
}

/* QUERIES */
@media screen and (max-width: 1400px) {
    .presentation {
        margin: 60px 5% 0 2%;
    }
    blockquote {
        margin: 3.6rem .3rem 0 2.4rem;
    }
    blockquote p {
        font-size: 1.6rem;
        line-height: 1.7rem;
    }
    cite {
        font-size: .8rem;
        padding-right: 22%;
    }
}


@media screen and (max-width: 1024px) {

    .presentation {
        flex-wrap: wrap;
        margin: 60px 4% 0 4%;
        position: relative;
    }
    .cvphoto {
        flex: 1 1 auto;
    }    
    .cvphoto img {
        opacity: .7;
    }
    .about-text h3 {
        padding-left: 0;
        text-align: center;
    }
    .about-text {
        width: 90%;
        position: absolute;
        left: 5%;
        top: 1rem;
    }
    .about-text ul {
        width: 80%;
        margin: 1rem auto;
    }
    .about-text li {
        padding-left: 18%;
    }
    blockquote {
        margin: 3.2rem 1.2rem 0rem 6rem;
    }

    cite {
        font-size: .8rem;
        padding-right: 25%;
    }
}

@media screen and (max-width: 720px) {

    .presentation .text-container {
        margin-bottom: 0;
    }

    .about-text ul {
        width: 86%;
    }

    .about-text li {
        padding-left: 10%;
    }
    .cvphoto img {
        opacity: .5;
    }    
    blockquote {
        margin: 3.6rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 540px) {

    .about-text ul {
        width: 90%;
        margin: 1rem auto;
    }

    .cvphoto img {
        opacity: .4;
    }

    .about-text li {
        padding-left: 1%;
    }

    blockquote p {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    cite {
        font-size: .8rem;
        padding-right: 20%;
    }
}
@media screen and (max-width: 460px) {

    .about-text ul {
        width: 100%;
    }

    .about-text li {
        padding-left: 2%;
    }

    .cvphoto img {
        opacity: .4;
        max-width: 98%;
    }

    #about-me {
        padding-top: 60px;
    }
    .presentation {
        margin: 30px 2% 0 2%;
    }
    
    blockquote {
        margin: 3.6rem 0.4rem 0 0.8rem;
    }

    blockquote p {
        font-size: 1.15rem;
        line-height: 1.3rem;
    }

    cite {
        font-size: .7rem;
        padding-right: 25%;
    }
}

@media screen and (max-width: 414px) {
    .presentation {
        margin: 15px 1% 0 1%;
    }

    #about-me {
        padding-top: 30px;
    }

    blockquote {
        margin: 1.8rem 0.4rem 0 0.4rem;
    }
    .about-text h3 {
        font-size: 1.3rem;
    }
}